@import "flexbox";

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-header {
    height: 3rem;
}

.logo-header, .logo-footer {
    border-radius: 10px;
}

.logo-title {
    color: wheat;
    height: 3rem;
    margin-left: 10px;
    font-size: larger;
}

